;; Destination Library
{:name "Anything"
 :accepts [:flac :ogg :mp3 :aac :wav :lossy :lossless :any]
 :default :flac
 :root-dir "/data/mulima/libs/lossless"}

;; Reference Library
{:name "Lossless Images"
 :root-dir "/data/mulima/reflibs/lossless"}

;; Library Album
{:id "some uuid"
 :hash "gibberish"
 :source-id "some uuid or nil if its a ref"
 :source-hash "gibberish"
 :dir "/data/mulima/reflibs/lossless/King Crimson/Islands"
 :codec :flac
 :format :images
 :artwork ["folder.jpg"]
 ;; Denormalized metadata
 :metadata [{:album "Islands"
             :artist "King Crimson"
             :disc-number 1
             :track-number 1
             :title "Formentera Lady"
             :genre ["Art Rock" "Progressive Rock" "Rock"]
             :source "disc1.flac"
             :cues [nil ; 0th index for tracks with pre-gaps
                    "00:00:00"
                    "05:16:13"]
            {:album "Islands"
             :artist "King Crimson"
             :disc-number 1
             :track-number 2
             :title "Sailor's Tale"
             :genre ["Art Rock" "Progressive Rock" "Rock"]
             :source "disc1.flac"
             :cues [nil
                    "05:16:13"
                    "12:21:45"]}]}]}
