{:reflibs {:lossless {:root-dir "/data/mulima/reflibs/lossless"}
           :lossy {:root-dir "/data/mulima/reflibs/lossy"}}
 :destlibs {:home {:accept [:flac :lossy]
                   :default :flac
                   :root-dir "/data/mulima/destlibs/home"}
            :travel {:accept [:lossy]
                     :default :ogg
                     :root-dir "/data/mulima/destlibs/travel"}}
 :tools {:flac {:tagger {:cmd "metaflac"}
                :codec {:cmd "flac"
                        :opts {:compression 5}}}
         :aac {:tagger {:cmd "neroAacTag"}
               :encoder {:cmd "newAacEnc"
                         :opts {:quality 0.5}}
               :decoder {:cmd "newAacDec"}}
         :any {:splitter {:cmd "shntool"}}}}
