{:album "Islands"
 :artist "King Crimson"
 :disc-number 1
 :genre ["Art Rock" "Progressive Rock" "Rock"]
 :children [{:track-number 1
             :title "Formentera Lady"
             :source "disc1.flac"
             :cues [nil
                    "00:00:00"
                    "05:16:13"]}
            {:track-number 2
             :title "Sailor's Tale"
             :source "disc1.flac"
             :cues [nil
                    "05:16:13"
                    "12:21:45"]}]}
