{:album "Islands"
 :artist "King Crimson"
 :disc-number 1
 :genre ["Art Rock" "Progressive Rock" "Rock"]
 :children [{:track-number 1
             :title "Formentera Lady"
             :cues [nil
                    {:audio "disc1.flac" :cue "00:00:00"}
                    {:audio "disc1.flac" :cue "05:16:13"}]}
            {:track-number 2
             :title "Sailor's Tale"
             :cues [nil
                    {:audio "disc1.flac" :cue "05:16:13"}
                    {:audio "disc1.flac" :cue "12:21:45"}]}]}
