{:album "album"
 :album-sort "albumSort"
 :record-label "organization"
 :catalog-number "catalogNumber"
 :date-release "releaseDate"

 :artist "artist"
 :artist-sort "artistSort"

 :performer "performer"
 :conductor "conductor"
 :ensemble "ensemble"

 :composer "composer"
 :lyricist "lyricist"
 :producer "producer"

 :disc-number "discNumber"
 :track-number "trackNumber"
 :title "title"
 :title-sort "titleSort"
 :genre "genre"
 :date-logical "date"
 :comments "comment"

 :cddb-id "cddbId"}
