{:album "TALB"
 :album-sort "TSOA"
 :record-label "TPUB"
 :date-release "TDOR"
 
 :artist "TPE1"
 :artist-sort "TSOP"
 
 :performer "TMLC"
 :conductor "TPE3"
 
 :composer "TCOM"
 :lyricist "TEXT"
 :producer "TIPL_producer"
 
 :disc-number "TPOS"
 :track-number "TRCK"
 :title "TIT2"
 :title-sort "TSOT"
 :genre "TCON"
 :date-logical "TDRC"
 :comments "COMM"}
