[{:db/ident :file/path
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "Path to a file"}

 {:db/ident :file/size
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Size of the file"}

 {:db/ident :file/modified
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Time the file was last modified"}

 {:db/ident :mulima.tag/album
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Name of this collection of tracks"}

 {:db.ident :mulima.tag/album-sort
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Alternate form of album to be used for lexicographic sorting"}

 {:db/ident :mulima.tag/record-label
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The label the album was released under"}

 {:db/ident :mulima.tag/catalog-number
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Number used by the label to identify the release"}

 {:db/ident :mulima.tag/date-release
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Date the album was originally released"}

 {:db/ident :mulima.tag/artist
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many
  :db/doc "Artist the track is attributed to"}

 {:db/ident :mulima.tag/artist-sort
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many
  :db/doc "Alternate form of artist to be used for lexicographic sorting"}

 {:db/ident :mulima.tag/disc-number
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Number of the disc this track is on"}

 {:db/ident :mulima.tag/track-number
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Number of the track this"}

 {:db/ident :mulima.tag/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Name for the track"}

 {:db/ident :mulima.tag/title-sort
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Alternate form of title to be used for lexicographic sorting"}

 {:db/ident :mulima.tag/genre
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Indicator of type of music"}]
